body {
    font-family: Arial, sans-serif
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo {
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    color: white;
    line-height: 60px;
    font-size: 16px;
    padding-right: 40px;
    text-transform: uppercase;
}

.main{
   width: 100%;
    height: 100%;
    background: url(../img/boy1.png) 90% 100%/auto 85% no-repeat, url(../img/fon1.jpg)center/cover no-repeat ;
}
.title_conteiner{
    float: left;
    margin: 432px 0px 0px 404px;
    text-align: center;
        color: #2c384a;
}
.title_conteiner h1{ font-size: 60px;
    font-weight: bold;
}
.title_conteiner h4{ font-size: 20px;
    margin-top: 40px;
    color: #8b919c; 
}
.title_conteiner input{
    height: 40px;
    text-align:center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    padding:0px 16px;
    margin: 50px 14px 0px 14px;
}

.about_me{
width: 100%;
height: 717px;
}

.about_me h2{
    text-align: center;
    font-size: 34px;
    margin-top: 117px;
    text-transform: uppercase;
}
.line{
   margin: 50px auto 60px;
}
.about_me img{margin: 0px 0px 24px 860px;}
.one{font-size: 17px; margin: 0px 595px 0px 597px;}
.two{font-size: 17px; margin: 43px 595px 38px 597px; }

.about_me a{
    display:block;
    width: 162px;
    height: 33px;
    text-align:center;
    border: 2px solid #6f707e;
    border-radius: 6px;
    line-height: 30px;
    margin-left:  887px;
    font-size: 16px;
    background: url(../img/iconka.png) 6%/auto no-repeat;
    padding-left: 18px;
}

.skills{
    background:url(../img/fon2.jpg)center/cover no-repeat ;
}

.skills_container{
    width: 1096px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 93px;
}
.skills_container h2{
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    margin: 0px auto 31px;   
}
.skills_container hr{
    border: none;
    height: 4px;
    width: 70px;
    background: #d17700;
    margin: 0 auto 100px;
}
.skills_item{
    float: left;
     width: 210px;
    text-align: center;
    margin: 0 32px;
}
.skills_item img{
    margin-bottom: 40px;  
}

.skills_item h3{
    color: #cf7600;
    margin-bottom: 20px;
    font-size: 19px;
}
.skills_item p{
    color: #3f495a;
    font-size: 16px;
}
.clear{
    clear:both;
}
.keis{
    padding-top:110px; 
    padding-bottom: 200px;
    
}
.keis_container{
    width: 1170px;
     margin: 0 auto;
}
.keis_container h2{
   font-size: 34px; 
    text-align: center;
    text-transform: uppercase;
    margin: 0px auto 30px;
}
.keis_container hr{
    border: none;
    height: 4px;
    width: 70px;
    background: #d17700;
    margin: 0 auto 36px;
}
.keis_text{
    text-align: center;
    font-size: 16px;
    margin: 0px auto 42px;
}
.keis_container img{
    margin-bottom: 40px;
     width: 100%;
    
}
